.odd{
   background-color: palevioletred;
   font-family: Verdana, DejaVu Sans,sans-serif; 

}
#two{
    color:blue;
    font-size: 36px;

}
.odd,.three{
    font-size:24px;

}
#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
.blk{
    background-color: black;
    color: white;
}
.ylw{
    background-color: yellow;
}
.ylw,.blk{
    font-size: 28px;
    font-family: Helvetica,'Times New Roman', sans-serif;
}
